/* ===========================
   Top Navigation
=========================== */

header {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #E2E8F0;
}

header h2 {
    color: #1E293B;
    font-size: 28px;
}