/* ===========================
   Global Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   Application Layout
=========================== */

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Everything below the top navbar */

.content {
    flex: 1;
    display: flex;
}

/* Main page area */

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #F8FAFC;
}
